<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/styles.css"> 
    <title>NOT FOUND</title>
</head>
<body>
    <div id="travoltacontainer">
    <img id="travolta" src="assets/images/404-not-found.jpg" alt="noanda">
    </div>
</body>
</html> 